
#container {
    max-width: 500px;
    min-height: 500px;
    display: grid;
    margin: 2rem auto;
    grid-template-columns: repeat(16,1fr);
    box-sizing: border-box;
    border: black solid 2px;
  }
  h1{
      text-align: center;
  }
 
  .button_container{
      text-align: center;
      padding: 15px;
  }



