
#container {
    margin-right: 511px;
    margin-left: 511px;
    border: 1px solid black;
    text-align: center;
    display: grid;
    justify-content: center;
    grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
    grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
  }
  h1{
      text-align: center;
  }
 
  .button_container{
      text-align: center;
      padding: 15px;
  }

